* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: url(https://as2.ftcdn.net/jpg/02/59/68/41/500_F_259684133_WCZ1rLVq6bvEwgVvPhT4c7O5BCLQi5a4.jpg) center center / cover;
  
}

h2 {
  text-align: center;
  font-size: 50px;
  color: #000;

}

form {
  border: 3px solid #000;
  height: 300px;
  border-radius: 10px;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: skyblue;
}

form h3 {
  text-align: center;
  font-size: 30px;
}

input {
  width: 300px;
  height: 30px;
  border: 1px solid #000;
  margin: 20px 10px;
}

form input .toppings {
  align-items: center;
  justify-content: center;

}

button {
  cursor: pointer;
  width: 125px;
  height: 60px;
  background-color: skyblue;
  color: #fff;
  border-radius: 10px;
  font-size: 25px;

}

h3 {
  text-align: center;
  font-size: 30px;
}

ul {
  display: flex;
  flex-direction: column;
}

.btn:focus, .delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: white;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}


  .delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;

}
